@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Me merezco un 100,  <a href="https://virtual.unphu.edu.do/login/index.php">aqui un link para la plataforma de la unphu para que lo ponga</a>.</p>
</div>
